trial.jl
batchFiles/
baseline_vdpr/batch.slurm
baseline_vdpr/out
# baseline_vdpr/data
baseline_vdp/batch.slurm
# baseline_vdp/data
baseline_vdp/out
# ot_vdp/data
ot_vdp/out
ot_vdp/figs
ot_vdp/batch.slurm
# ot_vdpr/data
ot_vdpr/out
ot_vdpr/batch.slurm
cont_vdp/out*
cont_vdp/batch.slurm
cont_vdp/rhoConst.slurm
cont_vdp/figs*
cont_vdp/batch.slurm
otSampler_RB/batch.slurm
otSampler_RB/out
otSampler_RB/data/lp.jld2
otSampler_RB/data/sinkhorn.jld2
baseline_helmholtz/
.vscode/
f16/out
f16/AeroTableInterpolation.jl
f16/batch.slurm
f16/NonlinearF16Model.jl
f16/data/F16AeroData.h5
f16/sym_baseline_f16.jl
linear_f16/out
linear_f16/batch.slurm
linear_f16/figs
# Manifest.toml
# Project.toml
f16/f16_controller_2.jl
f16/batch_copy.slurm
f16/test.jl
cont_vdp/cont_ll_vdp_2.jl
f16/baseline_f16_2.jl
f16/quad_batch.slurm
f16/outQuad
f16/hl_quad_f16.jl
f16/out_fullpde
f16/fullpde_batch.slurm
quad_f16_self
f16/ll_quad_batch.slurm
f16/data
f16/dataQuad
f16/out_ll_quad
f16/ll_quasi_batch.slurm
rho_f16/f16_controller.jl
rho_f16/ll_quad_rho_f16.jl
f16/out_ll_quasi
missile/batch.slurm
missile/out
missile/ss_miss_grid_batch.slurm
missile/outQuad
missile/quad_batch.slurm
missile/quasi_batch.slurm
missile/outQuasi
missile/figs_*
missile/figs_grid
missile/ot_batch.slurm
missile/outOT
missile/out_grid
missile/test.jl
ts_vdp/ts_vdp_grid_batch.slurm
ts_vdp/out_grid
ts_vdp/ts_quasi_batch.slurm
ts_vdp/out_quasi
baseline_vdp/quasi_batch.slurm
baseline_vdp/out_quasi
baseline_vdp/grid_batch.slurm
baseline_vdp/out_grid
baseline_vdp/quad_batch.slurm
baseline_vdp/out_quad
ts_vdp/figs*
baseline_vdp/figs_grid
linsys_ss/ss_ls_grid_batch.slurm
linsys_ss/out_grid
ts_linsys/ts_ls_grid_batch.slurm
ts_linsys/out_grid
linsys_ss/figs
ts_linsys/figs
ts_vdpr/ts_vdpr_grid_batch.slurm
ts_vdpr/out_grid
# baseline_vdp/figs_prelim
baseline_vdpr/figs_prelim
ot_vdp/figs_prelim
ot_vdpr/figs_prelim
# baseline_vdp/figs_quasi
baseline_vdp/figs_*
ts_vdp/fd.jl
duffing/grid_batch.slurm
duffing/out_*
duffing/figs_*
duffing/ot_batch.slurm
cont_vdpr/out*
cont_vdpr/batch.slurm
cont_vdpr/figs*
duffing/quasi_batch.slurm
ex_1d/figs_*
ex_1d/out_*
ex_1d/grid_batch.slurm
mk4d/out_*
mk4d/quasi_batch.slurm
mk4d/figs_*
ex_1d/ts_grid.slurm
mk4d/batch_ts_quasi.slurm
ex_1d/batch_nnrbf.slurm
nnrbf_vdp/vdp_nnrbf_batch.slurm
nnrbf_vdp/out*
nnrbf_vdp/figs*
ts_vdp/out*
ts_vdp/rothe_batch.slurm
ts_vdp/figs_rothe
ts_vdp/data_rothe/vdp_exp16.jld2
ts_vdp/data_rothe/vdp_exp17.jld2
ts_cont_vdp/cont_rothe.slurm
ts_cont_vdp/out*
ts_cont_vdp/figs*