trial.jl
batchFiles/
baseline_vdpr/batch.slurm
baseline_vdpr/out
# baseline_vdpr/data
baseline_vdp/batch.slurm
# baseline_vdp/data
baseline_vdp/out
# ot_vdp/data
ot_vdp/out
ot_vdp/batch.slurm
# ot_vdpr/data
ot_vdpr/out
ot_vdpr/batch.slurm
cont_vdp/out
cont_vdp/batch.slurm
cont_vdp/figs
cont_vdp/batch.slurm
otSampler_RB/batch.slurm
otSampler_RB/out
otSampler_RB/data/lp.jld2
otSampler_RB/data/sinkhorn.jld2
baseline_helmholtz/
.vscode/
# Manifest.toml
# Project.toml
