trial.jl
batchFiles/
baseline_vdpr/batch.slurm
baseline_vdpr/out
# baseline_vdpr/data
baseline_vdp/batch.slurm
# baseline_vdp/data
baseline_vdp/out
# ot_vdp/data
ot_vdp/out
ot_vdp/figs
ot_vdp/batch.slurm
# ot_vdpr/data
ot_vdpr/out
ot_vdpr/batch.slurm
cont_vdp/out
cont_vdp/batch.slurm
cont_vdp/figs
cont_vdp/batch.slurm
otSampler_RB/batch.slurm
otSampler_RB/out
otSampler_RB/data/lp.jld2
otSampler_RB/data/sinkhorn.jld2
baseline_helmholtz/
.vscode/
f16/out
f16/AeroTableInterpolation.jl
f16/batch.slurm
f16/NonlinearF16Model.jl
f16/data/F16AeroData.h5
f16/sym_baseline_f16.jl
linear_f16/out
linear_f16/batch.slurm
linear_f16/figs
# Manifest.toml
# Project.toml
f16/f16_controller_2.jl
f16/batch_copy.slurm
f16/test.jl
cont_vdp/batch.slurm
cont_vdp/cont_ll_vdp_2.jl
cont_vdp/batch.slurm
f16/baseline_f16_2.jl
f16/quad_batch.slurm
f16/outQuad
f16/hl_quad_f16.jl
f16/out_fullpde
f16/fullpde_batch.slurm
quad_f16_self
f16/ll_quad_batch.slurm
f16/data
f16/dataQuad
f16/out_ll_quad
f16/ll_quasi_batch.slurm
